body {
    background: url("background_home.jpg") no-repeat center fixed;
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  h1 {
    color: #f48f36;
    margin-top: 50px;
  }
  #pokemon-image {
    border: 10px solid #F44336;
    border-radius: 50%;
    margin: 50px auto;
    box-shadow: 10px 10px #F44336;
  }
  #guess {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin: 20px auto;
    display: block;
    width: 60%;
  }
  button {
    background-color: #f4b136;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin: 20px auto;
    display: block;
    width: 20%;
    cursor: pointer;
  }
  button:hover {
    background-color: #e55e35;
  }