body {
    background: url(intro.mp4) no-repeat center fixed;
    background-size: cover;
   }

   #pokemon-button {
    /* Dimensions */
    width: 200px;
    height: 70px;
  
    /* Couleur de fond */
    background-color: #f7da1a;
  
    /* Couleur de la police */
    color: white;
  
    /* Style de bordure */
    border: none;
    border-radius: 10px;
  
    /* Style de police */
    font-size: 18px;
    font-weight: bold;
  
    /* Positionnement */
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* Effet au survol */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#pokemon-button:hover {
    background-color: #ab8211;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  #bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
  }

  #logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo-container img {
    width: 200px;
    height: auto;
}

/* pour l'animation du curseur */
* {
    cursor: url(Cartoon\ Hand\ normal.cur), auto; /* l'image de la souris */
  }
  
  /* pour l'animation de la pokeball */
  @keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-10deg); }
    20% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    40% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
  
  .pokemon-cursor {
    width: 50px; /* taille de l'icone */
    height: 50px;
    position: absolute; /* pour centrer l'icone */
    top: -20px;
    left: -20px;
    animation: shake 0.5s ease-out infinite; /* pour l'animation */
  }
  