body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#arena {
	width: 100%;
	height: 100%;
	position: fixed;
}

header {
	width: 100%;
	text-align: center;
	z-index: 2;
}

h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 68px;
}

h2 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 50px;
}

#welcome {
	z-index: 2;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#enter {
	position: relative;
	left: 25px;
	padding: 20px;
	font-size: 24px;
}

.jaune {
	color: #f7bc1a;
}

.white {
	color: white;
}

#start {
	display: none;
	flex-direction: column;
	margin-right:150px;
	margin-left: 150px;
	border: 10px solid white;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 500px;
	position: relative;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	width: 100%;
}

.poke-btn {
	padding: 20px;
	font-size: 20px;
	font-family: 'Luckiest Guy', cursive;
	border: 1px solid black;
	background-color: rgb(218, 100, 9);
	color:white;
}

.poke-btn:hover {
	color: red;
	background-color: white;
}

#first {
	border-right: 10px solid white;
}

#first, #second {
	position: relative;
}

#getPoke1, #getPoke2 {
	box-shadow: rgb(85, 82, 82) 1px 5px;
}

#pokeball {
	position: absolute;
	top: 150px;
	width: 200px;
	height: 200px;
	border: 10px solid white;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#center {
	width: 75px;
	height: 75px;
	border: 10px solid white;
	border-radius: 50%;
}

#center img {
	width: 100%;
	height: 100%;
}

.poke-img {
	display: block;
	width: 200px;
	height: 200px;
}

.poke-img-win {
	display: block;
	width: 400px;
	height: 400px;
}

#result {
	display: none;
	flex-direction: column;
	align-items: center;
	z-index:2;
}

.pokemon-stats {
	position: absolute;
	bottom: 0;
	left:0;
	display: flex;
	flex-direction: row;
}

.pokemon-stats p {

	font-family: 'Luckiest Guy', cursive;
	padding: 10px;
}

.pokemon-stats h2 {

	color:red;
	padding: 10px;
	margin:0;
	font-size:36px;
}

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(1.1, 1.1);
    }

    100% {
    transform: scale(1, 1);
    }
}
