body {
    overflow: hidden;
    margin: 0;
}

/* Séparer la page en deux */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

main>div {
    overflow-y: scroll;
    padding: 20px;
}

.affichage{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0;
}
