body {
    background: url("background_home.jpg") no-repeat center fixed;
    background-size: cover;
    z-index: -1;
   }

.pokemon-card {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    width: 300px;
    height: 200px;
    z-index: 1;
    background-color: white;
  }
  
  .pokemon-card img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }

  .pokemon-card {
    position: relative;
    
  }
  
  .pokemon-card-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .pokemon-card-image-container img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .pokemon-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    filter: blur(20px);
    z-index: -1;
  }
  
  .test {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
}


.type-list, .generation-list {
    /* Positionnement */
    position: relative;
    display: inline-block;
    /* Marges */
    margin: 20px;
}

#type, #generation {
    /* Dimensions */
    width: 200px;
    height: 40px;

    /* Style de bordure */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Style de police */
    font-size: 16px;
    /* Padding */
    padding: 10px;
}


#groupe-bouton {
    /* Dimensions */
    width: 200px;
    height: 40px;
  
    /* Couleur de fond */
    background-color: #f7da1a;
  
    /* Couleur de la police */
    color: white;
  
    /* Style de bordure */
    border: none;
    border-radius: 10px;
  
    /* Style de police */
    font-size: 18px;
    font-weight: bold;
  
    /* Positionnement */
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
  
    /* Effet au survol */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#groupe-bouton:hover {
    background-color: #ab8211;
}


.pokemon-button {
    background-color: #F8D030; /* couleur jaune de la pokeball */
  color: white;
  padding: 10px 20px;
  border-radius: 50%; /* pour faire une forme ronde */
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.pokemon-button img {
  width: 30px; /* taille de l'icone */
  vertical-align: middle; /* pour centrer l'icone */
}

.pokemon-button:hover {
  background-color: #F85888; /* changer la couleur lorsque la souris est sur le bouton */
}


/* pour l'animation du curseur */
* {
    cursor: url(Cartoon\ Hand\ normal.cur), auto; /* l'image de la souris */
  }
  
  /* pour l'animation de la pokeball */
  @keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-10deg); }
    20% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    40% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
  
  .pokemon-cursor {
    width: 50px; /* taille de l'icone */
    height: 50px;
    position: absolute; /* pour centrer l'icone */
    top: -20px;
    left: -20px;
    animation: shake 0.5s ease-out infinite; /* pour l'animation */
  }
  